.rmdb-moviethumb img {
  width: 500px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.rmdb-moviethumb h4 {
  font-size: 16px;

  position: relative;
  font-weight: 600;
  line-height: 20px;
  width: 100;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 

font-size: 15px;


position: relative;
color: #ffffff;
font-weight: 600;
font-size: 16px;
line-height: 20px;
margin-top: 10px;
width: 100;
margin-top: 15px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; */
